<h1 style="padding: 15px;"> <strong>Edit Articles</strong> </h1>

<%# selain di dalam folder layout tidak perlu memasukan folder terluarnya %>

<%= render "form" %>

<%= link_to "Back", :back, style: "margin-left: 15px;" %>