<h1>This Is Home</h1>

<%= link_to "See the list article", articles_path, class: "btn-link" ,style: "cursor: pointer; text-decoration: none; color: black;" %>
<%= link_to "About Us", about_path, class: "btn-link" ,style: "cursor: pointer; text-decoration: none; color: black;" %>