<div class="bg-dark w-100 py-4 text-center">
    <small class="text-light">
        Copyright By @Rqwannn - <script>document.write(new Date().getFullYear())</script> All Rights Reserved 
    </small>
</div>